body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.new_form{
    width: 500px; /* Adjust width as needed */
    margin: 20px auto; /* Center the form horizontally */
    border: 1px solid red;
    padding: 20px;
    border-radius: 5px;
}

.new_form label {
    display: red;
    margin-bottom: 10px;
}

.new_form textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid red;
    border-radius: 10px;
}